.mainApp {
    text-align: center;
    margin: 30px;
}

.ctaButton {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background: rgb(32, 129, 226);
}

.row {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col {
    margin-left: 10px;
    margin-right: 10px;
}

.top {
    background: rgb(32, 129, 226);
    color: antiquewhite;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
}

.daysButton {
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    font-size: large;
    border-radius: 15%;
    border-width: 0.2px;
    cursor: pointer;
}

.daysRow {
    margin-top: 30px;
}